<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <params>
        <param name="TALKING_APPID" required="1"  showName="talkingdataAppid" desc="talkingdata的appid" bWriteInManifest="0" bWriteInClient="1" />
        <param name="TALKING_CHANNEL" required="1"  showName="talkingdataChannel" desc="talkingdata的渠道号" bWriteInManifest="0" bWriteInClient="1" /> 
        <param name="wx_appId" required="1"  showName="微信的appid" desc="墨游为该游戏申请微信appid" bWriteInManifest="1" bWriteInClient="0" />
        <param name="qq_appId" required="1"  showName="qq的appid" desc="墨游为该游戏申请qq的appid" bWriteInManifest="1" bWriteInClient="0" />   
        <param name="isShowLoginPage" required="1"  showName="登录页面" desc="是否显示墨游登录页面" bWriteInManifest="1" bWriteInClient="0" />   
        <param name="sdk_Appid" required="1"  showName="平台申请的appid" desc="墨游sdk为每一个游戏设置为appid" bWriteInManifest="0" bWriteInClient="1" />
        <param name="cloud_channel" required="1"  showName="联运的渠道号" desc="墨游与广告商合作的渠道号" bWriteInManifest="0" bWriteInClient="1" />
        <param name="toponAd_appId" required="1"  showName="topon的应用Id" desc="topon广告申请的appId" bWriteInManifest="0" bWriteInClient="1" />
        <param name="toponAd_appKey" required="1"  showName="topon的应用Key" desc="topon广告申请的appKey" bWriteInManifest="0" bWriteInClient="1" />
        <param name="ad_video_posId" required="1" showName="广告位id" desc="广告位id" bWriteInManifest="0" bWriteInClient="1" />
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.MoyoiUser" type="1" desc="用户登录接口"/>
        <plugin name="com.u8.sdk.MoyoiAds" type="7" desc="广告接口"/>
    </plugins>

</config>