<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <params>
        <param name="PA_APP_KEY" required="1" showName="appkey" desc="啪啪游戏的appkey" bWriteInManifest="1" bWriteInClient="0" />
        <param name="PA_APP_PRIVATE_KEY" required="1" showName="privateKey" desc="啪啪游戏的私key" bWriteInManifest="1" bWriteInClient="0" /> 
        <param name="PA_AD_ID" required="1" showName="悟饭渠道自身的统计id" desc="自身的统计id" bWriteInManifest="1" bWriteInClient="0" />
        <param name="PA_GAME_ID" required="1" showName="悟饭渠道自身的游戏id" desc="自身的游戏id" bWriteInManifest="1" bWriteInClient="0" />
        <param name="gameName" required="1" showName="gameName" desc="游戏名称" bWriteInManifest="0" bWriteInClient="1" />
        <param name="callBackUrl" required="1" showName="callBackUrl" desc="游戏回调地址" bWriteInManifest="0" bWriteInClient="1" />
        <param name="TALKING_APPID" required="1" showName="talkingdata的appid" desc="wufan" bWriteInManifest="0" bWriteInClient="1" />
       	<param name="TALKING_CHANNEL" required="1" showName="talkingdata的渠道号" desc="wufan" bWriteInManifest="0" bWriteInClient="1" />
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.WuFanUser" type="1" desc="用户登录接口"/>
        <plugin name="com.u8.sdk.WuFanPay" type="2" desc="用户支付接口"/>
    </plugins>
    
    <version>
        <name>悟饭(啪啪游戏)</name>
        <versionCode>3</versionCode>
        <versionName>3.3.0</versionName>
    </version>    
    
</config>