<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <params>
        <param name="AppChina_AppId" required="1" showName="AppID" desc="应用汇" bWriteInManifest="0" bWriteInClient="1" /> 
        <param name="AppChina_AppKey" required="1" showName="AppKey" desc="应用汇" bWriteInManifest="0" bWriteInClient="1" />
        <param name="AppChina_PrivateKey" required="1" showName="AppKey" desc="应用汇" bWriteInManifest="0" bWriteInClient="1" />
		<param name="AppChina_PublicKey"  required="1" showName="AppKey" desc="应用汇" bWriteInManifest="0" bWriteInClient="1" />		
		<param name="AppChina_Orientation" required="1" showName="横屏竖屏设置(landscape|portrait)" desc="应用汇" bWriteInManifest="0" bWriteInClient="1" />
		<param name="AppChina_CallbackUrl"  required="1" showName="支付回调地址" desc="应用汇支付回调地址" bWriteInManifest="0" bWriteInClient="1" />
		<param name="TALKING_APPID" required="1" showName="talkingdata的appid" desc="分配给应用汇的渠道appid" bWriteInManifest="0" bWriteInClient="1" />
       	<param name="TALKING_CHANNEL" required="1" showName="talkingdata的渠道号" desc="分配给应用汇的渠道号" bWriteInManifest="0" bWriteInClient="1" />
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
        <operation step="5" type="copyRes" from="root" to=""/>
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.YYHUser" type="1" desc="用户登录接口"/>
        <plugin name="com.u8.sdk.YYHPay" type="2" desc="用户支付接口"/>
    </plugins>
    
    <version>
        <name>应用汇</name>
        <versionCode>1</versionCode>
        <versionName>7.5.1</versionName>
    </version>    
    
</config>