<?xml version='1.0' encoding='UTF-8'?>
<xml>  
    <!-- <global-plugins>
        <plugin name="umengpush" desc="友盟推送插件"/>
    </global-plugins> -->
    <channels>
        <channel>         
            <param name="id" value="1703" />            
            <param name="name" value="moyoi" />            
            <param name="sdk" value="moyoi" />            
            <param name="desc" value="墨游" />            
            <param name="suffix" value="com.moyoiad.goc.cn" />            
            <param name="splash" value="0" />           
            <param name="splash_copy_to_unity" value="0" />          
            <sdk-params>
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" desc="墨游在talkingdata申请的appid" />
                <param name="TALKING_CHANNEL" value="500000" desc="墨游在talkingdata分配的渠道号"  /> 
                <param name="wx_appId" value="wx66c8ee81415cb02e" desc="墨游为该游戏申请微信appid"  />
                <param name="wx_show" value="true" desc="墨游是否显示微信登录"  />
                <param name="qq_appId" value="1106705155" desc="墨游为该游戏申请qq的appid"  />
                <param name="qq_show" value="true"  desc="墨游是否显示qq登录" />
                <param name="sdk_Appid" value="2" desc="墨游sdk为每一个游戏设置为appid" />
                <param name="cloud_channel" value="500000" desc="墨游与广告商合作的渠道号，最好和talkingdata保持一致方便统一管理"  />
                <param name="ttAd_appId" value="5107009" desc="墨游在穿山甲广告申请的appid"  />
                <param name="ttAd_posId" value="945494365" desc="穿山甲广告位id"  />
                <param name="ttAd_appName" value="城堡英雄" desc="应用名"  />
                <param name="isShowTTAd" value="true" desc="是否显示穿山甲广告"  />
            </sdk-params>           
            <sdk-version>         
                <versionCode>1</versionCode>         
                <versionName>2.0.1</versionName>      
            </sdk-version>
        </channel>
        <channel>         
            <param name="id" value="170305" />            
            <param name="name" value="moyoitest" />            
            <param name="sdk" value="moyoitest" />            
            <param name="desc" value="墨游测试" />            
            <param name="suffix" value="com.moyoiad.goc.cn" />            
            <param name="splash" value="0" />           
            <param name="splash_copy_to_unity" value="0" />          
            <sdk-params>
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" desc="墨游在talkingdata申请的appid" />
                <param name="TALKING_CHANNEL" value="500000" desc="墨游在talkingdata分配的渠道号"  /> 
                <param name="wx_appId" value="wx66c8ee81415cb02e" desc="墨游为该游戏申请微信appid"  />
                <param name="wx_show" value="true" desc="墨游是否显示微信登录"  />
                <param name="qq_appId" value="1106705155" desc="墨游为该游戏申请qq的appid"  />
                <param name="qq_show" value="true"  desc="墨游是否显示qq登录" />
                <param name="sdk_Appid" value="2" desc="墨游sdk为每一个游戏设置为appid" />
                <param name="cloud_channel" value="500000" desc="墨游与广告商合作的渠道号，最好和talkingdata保持一致方便统一管理"  />
                <param name="ttAd_appId" value="5107009" desc="墨游在穿山甲广告申请的appid"  />
                <param name="ttAd_posId" value="945494365" desc="穿山甲广告位id"  />
                <param name="ttAd_appName" value="城堡英雄" desc="应用名"  />
                <param name="isShowTTAd" value="true" desc="是否显示穿山甲广告"  />
            </sdk-params>           
            <sdk-version>         
                <versionCode>1</versionCode>         
                <versionName>2.0.1</versionName>      
            </sdk-version>
        </channel>   
        <channel>         
            <param name="id" value="10007" />            
            <param name="name" value="taptap" />            
            <param name="sdk" value="taptap" />            
            <param name="desc" value="墨游 taptap版本" />            
            <param name="suffix" value="com.moyoiad.goc.cn" />            
            <param name="splash" value="0" />           
            <param name="splash_copy_to_unity" value="0" />          
            <sdk-params>
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" desc="墨游在talkingdata申请的appid" />
                <param name="TALKING_CHANNEL" value="500029" desc="墨游在talkingdata分配的渠道号"  /> 
                <param name="wx_appId" value="wx66c8ee81415cb02e" desc="墨游为该游戏申请微信appid"  />
                <param name="wx_show" value="true" desc="墨游是否显示微信登录"  />
                <param name="qq_appId" value="1106705155" desc="墨游为该游戏申请qq的appid"  />
                <param name="qq_show" value="true"  desc="墨游是否显示qq登录" />
                <param name="sdk_Appid" value="2" desc="墨游sdk为每一个游戏设置为appid" />
                <param name="cloud_channel" value="500029" desc="墨游与广告商合作的渠道号，最好和talkingdata保持一致方便统一管理"  />
                <param name="ttAd_appId" value="5107009" desc="墨游在穿山甲广告申请的appid"  />
                <param name="ttAd_posId" value="945494365" desc="穿山甲广告位id"  />
                <param name="ttAd_appName" value="城堡英雄" desc="应用名"  />
                <param name="isShowTTAd" value="true" desc="是否显示穿山甲广告"  />
            </sdk-params>           
            <sdk-version>         
                <versionCode>1</versionCode>         
                <versionName>2.0.1</versionName>      
            </sdk-version>
        </channel>
        <channel>         
            <param name="id" value="10010" />            
            <param name="name" value="haoyou" />            
            <param name="sdk" value="haoyou" />            
            <param name="desc" value="墨游 好游快爆版本" />            
            <param name="suffix" value="com.moyoiad.goc.cn" />            
            <param name="splash" value="0" />           
            <param name="splash_copy_to_unity" value="0" />          
            <sdk-params>
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" desc="墨游在talkingdata申请的appid" />
                <param name="TALKING_CHANNEL" value="500030" desc="墨游在talkingdata分配的渠道号"  /> 
                <param name="wx_appId" value="wx66c8ee81415cb02e" desc="墨游为该游戏申请微信appid"  />
                <param name="wx_show" value="true" desc="墨游是否显示微信登录"  />
                <param name="qq_appId" value="1106705155" desc="墨游为该游戏申请qq的appid"  />
                <param name="qq_show" value="true"  desc="墨游是否显示qq登录" />
                <param name="sdk_Appid" value="2" desc="墨游sdk为每一个游戏设置为appid" />
                <param name="cloud_channel" value="500030" desc="墨游与广告商合作的渠道号，最好和talkingdata保持一致方便统一管理"  />
                <param name="ttAd_appId" value="5107009" desc="墨游在穿山甲广告申请的appid"  />
                <param name="ttAd_posId" value="945494365" desc="穿山甲广告位id"  />
                <param name="ttAd_appName" value="城堡英雄" desc="应用名"  />
                <param name="isShowTTAd" value="true" desc="是否显示穿山甲广告"  />
            </sdk-params>           
            <sdk-version>         
                <versionCode>1</versionCode>         
                <versionName>2.0.1</versionName>      
            </sdk-version>
        </channel>
        <channel>         
            <param name="id" value="30016" />            
            <param name="name" value="yiyou" />            
            <param name="sdk" value="yiyou" />            
            <param name="desc" value="墨游 一游说版本" />            
            <param name="suffix" value="com.moyoiad.goc.cn" />            
            <param name="splash" value="0" />           
            <param name="splash_copy_to_unity" value="0" />          
            <sdk-params>
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" desc="墨游在talkingdata申请的appid" />
                <param name="TALKING_CHANNEL" value="500031" desc="墨游在talkingdata分配的渠道号"  /> 
                <param name="wx_appId" value="wx66c8ee81415cb02e" desc="墨游为该游戏申请微信appid"  />
                <param name="wx_show" value="true" desc="墨游是否显示微信登录"  />
                <param name="qq_appId" value="1106705155" desc="墨游为该游戏申请qq的appid"  />
                <param name="qq_show" value="true"  desc="墨游是否显示qq登录" />
                <param name="sdk_Appid" value="2" desc="墨游sdk为每一个游戏设置为appid" />
                <param name="cloud_channel" value="500031" desc="墨游与广告商合作的渠道号，最好和talkingdata保持一致方便统一管理"  />
                <param name="ttAd_appId" value="5107009" desc="墨游在穿山甲广告申请的appid"  />
                <param name="ttAd_posId" value="945494365" desc="穿山甲广告位id"  />
                <param name="ttAd_appName" value="城堡英雄" desc="应用名"  />
                <param name="isShowTTAd" value="true" desc="是否显示穿山甲广告"  />
            </sdk-params>           
            <sdk-version>         
                <versionCode>1</versionCode>         
                <versionName>2.0.1</versionName>      
            </sdk-version>
        </channel>    
        <channel>
            <param name="id" value="10009" />
            <param name="name" value="wufan" />
            <param name="sdk" value="wufan" />
            <param name="desc" value="悟饭(啪啪游戏)" />
            <param name="suffix" value="com.moyoiad.goc.papa" />
            <param name="splash" value="11" />
            <param name="splash_copy_to_unity" value="0" />
            <param name="icon" value="rb" />
            <param name="extraR" value="com.papa91.pay" />      
            <sdk-params>
                <param name="PA_APP_KEY" value="16001606" desc="APP_KEY" />
                <param name="PA_APP_PRIVATE_KEY" value="44191be3a75d9c3e" desc="PRIVATE_KEY" />
                <param name="PA_AD_ID" value="34264" desc="渠道自身appid" />
                <param name="PA_GAME_ID" value="1606" desc="渠道自身游戏id" />
                <param name="gameName" value="战箭天下" desc="游戏名称" />
                <param name="callBackUrl" value="http://myserver.moyoi.cn:8093/pay/papa/payCallback/1704" desc="充值回调地址" />
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" />
                <param name="TALKING_CHANNEL" value="200024" />
            </sdk-params>
            <sdk-version>
                <versionCode>3</versionCode>
                <versionName>3.3.0</versionName>
            </sdk-version>
        </channel>
      
        <channel>
            <param name="id" value="10005" />
            <param name="name" value="vivooffline2_ad" />
            <param name="sdk" value="vivooffline2_ad" />
            <param name="desc" value="ViVoSDK offline2" />
            <param name="suffix" value="com.moyoiad.goc.vivo" />
            <param name="splash" value="0" />
            <param name="icon" value="rb" />
            <param name="splash_copy_to_unity" value="0" />
            <sdk-params>
                <param name="AppID" value="bdb35c6fab1d0eaf716910420f1ca151" />
                <param name="com.vivo.push.app_id" value="10374" />
                <param name="com.vivo.push.api_key" value="c5324f3f-86bf-40f5-b5f1-5f3b11b0009c" />
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" />
                <param name="TALKING_CHANNEL" value="200001" />
                <param name="ad_appId" value="200001" />
                <param name="ad_posId" value="200001" />
                <param name="isShowVivoAd" value="true" />
            </sdk-params>                       
            <sdk-version>
                <versionCode>4</versionCode>
                <versionName>4.2.4.0</versionName>
            </sdk-version>
        </channel>
          
        <channel>
            <param name="id" value="10003" />
            <param name="name" value="uc_ad" />
            <param name="sdk" value="uc_ad" />
            <param name="desc" value="UC（九游）" />
            <param name="suffix" value="com.moyoiad.goc.aligames" />
            <param name="splash" value="0" />
            <param name="splash_copy_to_unity" value="0" />
            <param name="icon" value="rb" />
            <param name="gameName" value="战箭天下" desc="游戏名称"/>
            <sdk-params>
                <param name="UCGameId" value="924767"/>
                <param name="UCCpId" value="0"/>
                <param name="UCApiKey" value="684b4fcbf63535541b3bc4ae4a6f36de"/>
                <param name="ali_screen_orientation" value="landscape" />
                <param name="UCDebugMode" value="false"/>
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" />
                <param name="TALKING_CHANNEL" value="200012" />
                <param name="ad_appId" value="200012"/>
                <param name="ad_posId" value="1000004107" />
                <param name="isShowUCAd" value="true"/>
            </sdk-params>
            <sdk-version>
                <versionCode>9</versionCode>
                <versionName>9.0.0.1</versionName>
            </sdk-version>
        </channel>
       
        <channel>
            <param name="id" value="10008" />
            <param name="name" value="m4399_ad" />
            <param name="sdk" value="m4399_ad" />
            <param name="desc" value="4399" />
            <param name="suffix" value="com.moyoiad.goc.m4399" />
            <param name="splash" value="11" />
            <param name="splash_copy_to_unity" value="0" />
            <param name="icon" value="rb" />
            <sdk-params>
                <param name="M4399_AppKey" value="128423" />
                <param desc="横屏或者竖屏(landscape|portrait)" name="M4399_Orientation" value="landscape" />
                <param desc="悬浮窗样式(one|two|three|four)" name="M4399_PopLogoStyle" value="one" />
                <param desc="悬浮窗位置(left|top|right|bottom)" name="M4399_Position" value="right" />
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" />
                <param name="TALKING_CHANNEL" value="200005" />
                <param name="ad_appId" value="1000004107" />
                <param name="ad_posId" value="1000004107" />
                <param name="isShow4399Ad" value="true" />
            </sdk-params>
            <sdk-version>
                <versionCode>2</versionCode>
                <versionName>2.32.0.12</versionName>
            </sdk-version>
        </channel>
    
        <channel>         
            <param name="id" value="19" />            
            <param name="name" value="oppo_ad" />            
            <param name="sdk" value="oppo_ad" />            
            <param name="desc" value="Oppo" />            
            <param name="suffix" value="oppo.moyoiad.goc" />            
            <param name="splash" value="0" />           
            <param name="splash_copy_to_unity" value="0" />
            <param name="icon" value="rb" />       
            <sdk-params>                
                <param name="app_Id" value="3662129" />
                <param name="appSecret" value="bad57b6d270F30bf3Ae29a37b448648C" />
                <param name="app_key" value="3aCYwl9G9ywWkWWwo804G44Wc" />        
                <param name="is_offline_game" value="false" />
                <param name="PayNotifyUrl" value="http://myserver.moyoi.cn:8093/pay/oppo/payCallback/19" />
                <param name="debug_mode" value="false" />
                <param name="TALKING_APPID" value="17828D57126C4B02A300416807070190" />
                <param name="TALKING_CHANNEL" value="200002" />
                <param name="ad_appId" value="1000004107" />
                <param name="ad_posId" value="1000004107" />
                <param name="isShowOppoAd" value="true" />
            </sdk-params>           
            <sdk-version>         
                <versionCode>2</versionCode>         
                <versionName>2.0.2.306</versionName>      
            </sdk-version>
        </channel>
    </channels>
</xml>