<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <params>
        <param name="AppID" required="1"  showName="AppID" desc="vivo" bWriteInManifest="0" bWriteInClient="1" />
        <param name="com.vivo.push.app_id" required="1"  showName="推送的appid" desc="vivo" bWriteInManifest="1" bWriteInClient="0" />
        <param name="com.vivo.push.api_key" required="1"  showName="推送的apiKey" desc="vivo" bWriteInManifest="1" bWriteInClient="0" />
        <param name="TALKING_APPID" required="1" showName="talkingdata的appid" desc="vivo" bWriteInManifest="0" bWriteInClient="1" />
       	<param name="TALKING_CHANNEL" required="1" showName="talkingdata的渠道号" desc="vivo" bWriteInManifest="0" bWriteInClient="1" />
        <param name="ad_appId" required="1" showName="vido广告appId" desc="vivo广告appId" bWriteInManifest="0" bWriteInClient="1" />
        <param name="ad_posId" required="1" showName="vido广告位id" desc="vido广告位id" bWriteInManifest="0" bWriteInClient="1" />
        <param name="isShowVivoAd" required="1" showName="是否显示vido广告" desc="是否显示vido广告" bWriteInManifest="0" bWriteInClient="1" />
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.VivoUser" type="1" desc="用户登录接口"/>
        <plugin name="com.u8.sdk.VivoPay" type="2" desc="用户支付接口"/>
        <plugin name="com.u8.sdk.VivoAds" type="7" desc="广告接口"/>
    </plugins>
    
    <version>
        <name>vivo</name>
        <versionCode>4</versionCode>
        <versionName>4.2.4.0</versionName>
    </version>    
    
</config>